body {
    font-family: 'Poppins', sans-serif;
    background: #fff;
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 12px;
}

section {
    margin-bottom: 20px;
}

input, select {
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid #aaa;
    border-radius: 6px;
}

button {
    padding: 8px 10px;
    background: #25d366;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 5px;
}

div.producto {
    margin-bottom: 10px;
    background: #f7f7f7;
    padding: 8px;
    border-radius: 6px;
}
